.wazemySettings {
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
  
    legend {
      margin-bottom: 0px;
      border-bottom-style: none;
      width: auto;
    }
  
    h6 {
      margin-bottom: 0px;
    }
}

 